<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Insert Product Here</title>
    <meta charset="UTF-8">
    <meta name="Viewport" content="width=device-width, local-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <main>
      <header id="header">
        <img src="https://images.hellomagazine.com/horizon/landscape/4cb737af29a7-prince-harry-meghan-kids.jpg?tx=c_limit,w_1280" id="header-img">
        <nav id="nav-bar">
          <a href="#1" class="nav-link">Stay Informed</a>
          <a href="#video" class="nav-link">See it in Action</a>
          <a href="#description" class="nav-link">How it Works</a>
        </nav>
      </header>
      <form id="form" action="https://www.freecodecamp.com/email-submit">
        <input name="email" type="email" id="email" placeholder="name@domain.com">
        <input id="submit" type="submit">
      </form>
      <p id="1"></p>
      <video src="https://www.youtube.com/watch?v=Oe421EPjeBE" id="video"></video>
      <p id="description"></p>
    </main>
  </body>
</html>