#nav-bar {
  position: absolute;
  top: 0;
}

main {
  display: flexbox;
  flex:auto;
  margin: 0;
  padding: 0;
  top:0;
  background-color: orange;
}

#description {
  flex-direction: row;
}

@media (max-width:720px) {
  main{
    background-color: red;
  }
}

